extends ../layout.pug

block content
    .row.justify-content-md-center.my-md-5
        .col-md-6(style="max-width:800px;vertical-align:center;")
            .card
                .card-header Mot de passe oublié
                .card-body
                    form(action="/mot_de_passe_oublie" method="post" role="form")
                        input(type="hidden" name="csrf" value=csrf)
                        .input-group.mb-3
                            span.input-group-prepend
                                span.input-group-text.d-none.d-lg-block 
                                    i.fa.fa-envelope       
                            input(type="email" class="form-control" required placeholder="Email" name="email")               
                            
                        .text-center 
                            button.btn.btn-primary(type="submit") Demander un nouveau mot de passe

                .card-footer.text-muted
                    a.card-link(href="/connexion") Se connecter

